<div class="d-flex justify-content-center align-items-center prueba">

    <div *ngIf="loginn" class="prueba2">


        <div class="card">

            <ul class="nav nav-pills mb-3" id="pills-tab">
                <li class="nav-item text-center">
                    <a class="nav-link active btl" style="cursor:pointer;" (click)="loginForm()" id="pills-home-tab">Login</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link btr" style="cursor:pointer;" (click)="registerr()" id="pills-profile-tab">Signup</a>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <div class="form px-4 pt-5">

                        <input type="text" name="" [(ngModel)]="nam1e" class="form-control" placeholder="Name">

                        <input type="password" name="" [(ngModel)]="password" class="form-control" placeholder="Password">
                        <button class="btn btn-dark btn-block" (click)="login()">Login</button>

                    </div>



                </div>

            </div>
        </div>
    </div>

    <div>
        <mat-progress-spinner *ngIf="logeado" color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>

    <div *ngIf="register" class="prueba2">
        <div class="card">
            <ul class="nav nav-pills mb-3" id="pills-tab">
                <li class="nav-item text-center">
                    <a class="nav-link btr" style="cursor:pointer;" (click)="loginForm()" id="pills-home-tab">Login</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link active btl" style="cursor:pointer;" (click)="registerr()" id="pills-profile-tab">Signup</a>
                </li>

            </ul>

            <div class="form px-4">

                <input type="text" name="" class="form-control" placeholder="Name">

                <input type="text" name="" class="form-control" placeholder="Email">

                <input type="text" name="" class="form-control" placeholder="Phone">

                <input type="text" name="" class="form-control" placeholder="Password">

                <button class="btn btn-dark btn-block">Signup</button>

            </div>
        </div>

    </div>
</div>