.example-spacer {
    flex: 1 1 auto;
}

//
.toolbar {
    background-color: #0d6efd;
    min-width: 100%;
}

.mat-icon-no-color {
    background-color: transparent;
}

.logout {
    //como enviarlo al final del contenido
    margin-left: auto;
}